*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
}

#logo{
    width: 75%;
    align-self: center;
}

#logo2{
    align-self: flex-start;
    width: 75%;
    max-width: 500px;;
}

main{
    background: linear-gradient(90deg, #1163c6, #5fb8e9);
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;
}

aside{
    background-color: white;
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

#texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#texto-main{
    line-height: 25px;
}

h1{
    font-size: 1.7rem;
    text-align: center;
    color: #1163c6;
    font-weight: bolder;
}

aside p{
    text-align: center;
    font-weight: bold;
    color: #626161;
}

main p{
    color: white;
    font-weight: 700;
    margin: 0px 50px;
    align-self: flex-start;
}

input{
    align-self: center;
    padding: 5px;
    width: 75%;
    border-radius: 50px;
    border: 3px solid #1163c6;
    margin: 20px;
}

button{
    align-self: center;
    width: 75%;
    padding: 15px;
    background-color: #1163c6;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 3px 5px 1px #5fb8e9;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: .3s;
}

button:hover{
    background-color: #5fb8e9;
    color: white;
    box-shadow: 3px 5px 1px #1163c6;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#qr-code{
    align-self: center;
    max-width: 75%;
}

.qr-code{
    display: none;
    align-self: center;
    text-align: center;
}

.active{
    display: flex;
}

@media only screen and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    main{
        width: 100%;
    }

    aside{
        width: 100%;
    }
}
